/* Add Items Component */
.additems {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 7%;
  margin: 7%;
}

.additems--navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.additems--heading {
  display: flex;
  justify-content: flex-start;
}

.additems--add {
  color: green;
  cursor: pointer;
}

.additems--contents {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3%;
  width: 100%;
}

.form-group label {
  text-align: left;
  font-weight: bold;
  padding-bottom: 2%;
  font-size: 1.2rem;
}

.select {
  width: 100%;
  padding: 2rem;
  font-size: 1rem;
  color: grey;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid grey;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.additems--submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.additems--btn {
  width: 100%;
  background-color: green;
  color: var(--whiteColor);
  border: none;
  padding: 2.5%;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 3%;
  font-size: 1.2rem;
  font-weight: 600;
}

.additems--btn:hover {
  background-color: lightgreen;
}

/* Input */
input[type="text"] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.6rem;
  border-radius: 3rem;
  border: 1px solid grey;
  width: 100%;
}

input::placeholder {
  color: grey;
  opacity: 0.5;
  width: 100%;
}

/* Explore */

.explore--search {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.explore--content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.explore--item {
  /* border: 1px solid grey; */
  /* border-radius: 5px; */
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.explore--item-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.explore--item-details {
  margin-top: 10px;
}

.explore--item-name {
  font-size: 1.2rem;
  margin: 0;
}

.explore--item-price {
  margin: 5px 0;
}

.explore--shipping-method {
  margin: 5px 0;
  font-style: italic;
  color: #888;
}
